<div class="mx-auto mt-16" style="max-width: 480px">
  <div
    class="ui-card bg-base-100 shadow-xl border"
    *ngIf="currentlyPlayingItem$ | async as item"
  >
    <figure>
      <img
        [src]="pickBigestImage(item.album.images)"
        *ngIf="item.id !== lastRevealedTrackId"
        class="object-cover"
        style="width: 480px; height: 480px"
      />
      <div
        style="width: 480px; height: 480px"
        *ngIf="item.id === lastRevealedTrackId"
        class="flex flex-col justify-center h-full p-2"
      >
        @for (user of users; track user.id){
        <h3 class="text-center text-4xl font-semibold">
          {{ user.display_name }}
        </h3>

        <div class="ui-divider ui-divider-primary" *ngIf="!$last"></div>
        }
      </div>
    </figure>
    <div class="ui-card-body">
      <h2 class="ui-card-title text-2xl">{{ item.name }}</h2>
      <p class="text-lg">
        @for (a of item.artists; track a.id) {
        {{ a.name }}{{ !$last ? ", " : "" }}
        }
      </p>
      <div class="ui-card-actions justify-center mt-2">
        <button
          type="button"
          class="ui-btn ui-btn-circle ui-btn-outline"
          (click)="previousTrack()"
        >
          <app-icon icon="backward" />
        </button>

        <button
          type="button"
          class="ui-btn ui-btn-circle ui-btn-outline"
          (click)="togglePlayPause()"
        >
          <app-icon [icon]="(isPlaying$ | async) ? 'pause' : 'play'" />
        </button>
        <button
          type="button"
          class="ui-btn ui-btn-circle ui-btn-outline"
          (click)="nextTrack()"
        >
          <app-icon icon="forward" />
        </button>
      </div>

      <div class="ui-card-actions justify-center mt-2">
        <button
          *ngIf="item.id !== lastRevealedTrackId"
          type="button"
          class="ui-btn ui-btn-primary w-full"
          (click)="reveal()"
        >
          <app-icon icon="eye" />
          Reveal
        </button>
        <button
          *ngIf="item.id === lastRevealedTrackId"
          type="button"
          class="ui-btn ui-btn-primary w-full"
          (click)="lastRevealedTrackId = null"
        >
          <app-icon icon="eye-slash" />
          Hide
        </button>
      </div>
    </div>
  </div>
</div>
