@if (!(signedIn$|async)) {
<div class="flex-1 grid place-items-center">
  <button class="ui-btn ui-btn-secondary" (click)="login()">
    <app-icon icon="user" />
    Sign In With Spotify
  </button>
</div>
} @else {
<div class="flex justify-between">
  <div class="ui-dropdown ui-dropdown-end w-48">
    <div
      tabindex="0"
      class="ui-btn ui-btn-ghost rounded-box w-full justify-start"
      role="button"
    >
      <app-icon icon="bars-3"></app-icon>
      <span>Menu</span>
    </div>
    <div
      tabindex="0"
      class="ui-dropdown-content z-[1] w-48 bg-base-200 text-base-content rounded-box shadow-sm"
    >
      <div class="grid grid-cols-1 gap-2 p-2">
        <a routerLink="/remote" class="ui-btn ui-btn-primary rounded-box">
          <app-icon icon="device-phone-mobile" />
          <span>Remote</span>
        </a>
        <a routerLink="/library" class="ui-btn ui-btn-primary rounded-box">
          <app-icon icon="building-library" />
          <span>Library</span>
        </a>
        <button
          type="button"
          class="ui-btn ui-btn-primary rounded-box"
          (click)="nowPlaying.forceRefresh$.next()"
        >
          <app-icon icon="arrow-path" />
          <span>Refresh</span>
        </button>

        <a routerLink="/settings" class="ui-btn ui-btn-primary rounded-box">
          <app-icon icon="cog" />
          <span>Settings</span>
        </a>

        <hr class="ui-divider my-0" />

        <button
          type="button"
          class="ui-btn ui-btn-accent rounded-box"
          (click)="logout()"
        >
          <app-icon icon="lock-closed" />
          <span>Logout</span>
        </button>
      </div>
    </div>
  </div>

  <label class="flex cursor-pointer gap-2 items-center">
    <app-icon icon="sun" />
    <input
      type="checkbox"
      class="ui-toggle ui-theme-controller"
      [checked]="settings.theme === 'dark'"
      (change)="settings.toggleTheme($event)"
    />
    <app-icon icon="moon" />
  </label>
</div>

<div class="h-2"></div>

<app-now-playing #nowPlaying />

}
