<div class="flex justify-between">
  <div class="flex space-x-2">
    <a routerLink="/" class="ui-btn ui-btn-circle">
      <app-icon icon="home" />
    </a>
  </div>
  <div class="flex space-x-2"></div>
</div>

<div class="flex-1"></div>

<div class="my-16 max-w-md w-full mx-auto">
  <div class="flex gap-2 justify-center">
    <button
      type="button"
      class="ui-btn ui-btn-circle ui-btn-outline"
      (click)="send('refresh')"
    >
      <app-icon icon="arrow-path" />
    </button>
  </div>
  <div class="flex gap-2 justify-center mt-2">
    <button
      type="button"
      class="ui-btn ui-btn-circle ui-btn-outline"
      (click)="send('previous')"
    >
      <app-icon icon="backward" />
    </button>

    <button
      type="button"
      class="ui-btn ui-btn-circle ui-btn-outline"
      (click)="send('playpause')"
    >
      <app-icon icon="play-pause" />
    </button>
    <button
      type="button"
      class="ui-btn ui-btn-circle ui-btn-outline"
      (click)="send('next')"
    >
      <app-icon icon="forward" />
    </button>
  </div>

  <div class="ui-card-actions justify-center mt-2">
    <button
      type="button"
      class="ui-btn ui-btn-primary rounded-box w-full"
      (click)="send('revealhide')"
    >
      <app-icon icon="eye" />
      Reveal/Hide
    </button>
  </div>
</div>
